/* Ensures the main content and footer push themselves to full height */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Wrapper for the whole page content, including the footer */
  .page-container {
    min-height: 100%;
    position: relative;
  }
  
  /* Main content style */
  .content-wrap {
    padding-bottom: 60px; /* Equal to the footer's height */
  }
  
  /* Footer Styles */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Footer height */
    background-color: #4ca2f8; /* Example background color */
    color: white;
    text-align: center;
    padding: 20px 0;
  }

/* App.css */

html, body {
  height: 100%;
  margin: 0;
}



.content-wrap {
  flex: 1; /* Ensures that content area can expand to fill available space */
}

.footer {
  width: 100%;
  height: 60px; /* Footer height */
  background-color: #a6ccf30c; /* Example background color */
  color: white;
  text-align: center;
  padding: 20px 0;
}


